body {
    width: 500px;
    height: 400px;
}

.vlg-container {
    height: 100%;
}
.vlg-header {
    margin-top: 10px;
    padding: 0 24px;
}
.vlg-list {
    padding: 0 24px;
}
.vlg-play {
    position: relative;
}
.vlg-progress {
    position: absolute;
    left: 28px;
}
[class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
}
